<div id="user-list">
    <p>user-list.component</p>

<!--  
    <div id="ngforcontainer" *ngFor="let user of users; let i = index">
    <p>{{i+1}}</p>
    <p><img src="{{user.profilePhotoUrl}}"></p>
    <p class="bold-p">{{user.name}}</p>
    <p class="bold-p">{{user.surname}}</p>
    
    <p>{{user.age}}</p>
    <p>{{user.address.city}}</p>
</div>
-->

<!--  
    <app-user-single></app-user-single>
    <app-user-single></app-user-single>
    <app-user-single></app-user-single>
-->


    <div id="ngifcontainer" *ngIf="users.length > 0; else allertNotUserFound">     
    <app-user-single *ngFor="let user of users; let i = index" [user]="user" [index]="i" (deleteCat)="delete(user)"></app-user-single>
    
    </div>
</div>

<ng-template #allertNotUserFound>
    <p>Non sono presenti utenti</p>
</ng-template>